.full-width
{
  height: 50px;
  width: 100%;
  }

  .my-carousel
  {
padding: 0px;
margin: 0px;
  height: 500px;
  }
.my-jumbo
{
  background-color: #F2F2F2;
  padding: 0px;
  margin: 0px;
}

.my-header
{
  color: #f1693c;
  /* color:#FF4D09; */
}
.nav-size
{
  font-size: 1em;
  white-space: nowrap;
   }

   .nav-link
   {

    /* color: #f1693c !important; */
     color:#FF4D09 !important;
   }

   .my-email
   {
    color: #046B99;
   }

   .my-email:active
   {
color: #FFCC00;

   }

   .my-email:hover
   {
color: #FFCC00;

   }
 
.my-btn
{
  padding: 1rem;
  margin: 1rem;
  border-color:#046B99;
  background-color: #046B99;
    
}


.sky
{
 background-color: #F9F8F6;
 
 }

 #ham-btn
 {
   border-width: 1px;
   border-style: solid;
   border-color: #FDB81E;

 }
 .nav-ham
 {
  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253,184,30, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  
  }

  .my-link:focus, my-link:hover
  {
background-color: #FDB81E;
color: black !important;
outline: none;
  }
   
   

.jumbo-align
{
   /* background-color: #F2F2F2; */
    text-align: center
 
}

.button-align
{
  text-align: center;
  
  
}

.my-btn:active
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
}

.my-btn:hover
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
  
}

.column
{
  display: left
  
  
}
.row
{
  
  display: flex;
  justify-content: space-around;

}

.my-card
{
  width:480px;
  margin: 20px;
  padding: 20px;
}

p.my-text{

max-height: 50px;
overflow: hidden;
padding: 2px;
margin: 2px;
}

body
  {
    overflow-x: hidden;
  background-color: #F9F8F6;
}

.my-iframe
{
  width:430px;
  height:930px;
}

@media only screen and (max-width: 600px)
 {
  body {
    background-color: lightblue;

  }
  .my-card
  {
    width:300px;
  }

  .my-iframe
{
  transform: scale(.6);
  left: -88px;
  top: -200px;
  position: relative;
}

div.iframe-container 
{
  height: 528px;
}
}


