.full-width
{
  height: 50px;
  width: 100%;
  }

.nav-size
{
  font-size: 1em;
  white-space: nowrap;
   }

   .nav-link
   {
     color: #FDB81E !important;
   }

   .my-email
   {
    color: #046B99;
   }

   .my-email:active
   {
color: #FFCC00;

   }

   .my-email:hover
   {
color: #FFCC00;

   }
 
.my-btn{
  padding: 1rem;
  margin: 1rem;
  border-color:#046B99;
  background-color: #046B99;
}


.sky
{
 background-color: #000000;
 }

.jumbo-align
{
  text-align: center
 
}

.button-align
{
  text-align: center
}

.my-btn:active
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
}

.my-btn:hover
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
}

.column
{
  display: left
  
  
}
.row
{
  
  display: flex;
  justify-content: space-around;

}

.my-card
{
  width:480px;
  margin: 20px;
  padding: 20px;
}

p.my-text{

max-height: 50px;
overflow: hidden;
padding: 2px;
margin: 2px;
}

body
  {
    overflow-x: hidden;
  background-color: #FDB81E;
}

.my-iframe
{
  width:430px;
  height:930px;
}

@media only screen and (max-width: 600px)
 {
  body {
    background-color: lightblue;

  }
  .my-card
  {
    width:300px;
  }

  .my-iframe
{
  transform: scale(.6);
  left: -88px;
  top: -200px;
  position: relative;
}

div.iframe-container {
  height: 528px;
}
}


