.full-width
{
  height: 50px;
  width: 100%;
  }

  .my-carousel
  {
padding: 0px;
margin: 0px;
  height: 500px;
  }
.my-jumbo
{
  background-color: #F2F2F2;
  padding: 0px;
  margin: 0px;
}

.my-header
{
  color: #f1693c;
  /* color:#FF4D09; */
}
.nav-size
{
  font-size: 1em;
  white-space: nowrap;
   }

   .nav-link
   {

    color: #F1693C !important;
     /* color:#FF4D09 !important; */
   }

   .my-email
   {
    /* color: #046B99; */
    color: #F1693C;
    /* color: #FFCC00; */
   }

   .my-email:active
   {
/* color: #F1693C; */
color: #FFCC00;

   }

   .my-email:hover
   {
/* color: #F1693C; */
color: #FFCC00;
   }
 
.my-btn
{
  padding: 1rem;
  margin: 1rem;
  /* border-color:#046B99;
  background-color: #046B99; */
    border-color: #F1693C;
    background-color: #F1693C;
}


.sky
{
 background-color: #F9F8F6;

 
 }

 #ham-btn
 {
   border-width: 1px;
   border-style: solid;
   border-color: #F1693C;
   padding: 0;
   border-radius: .25rem; 
   }

             

 .nav-ham 
 {
  
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253,184,30, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,105,60, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
   .nav-ham:hover {
      opacity: 1.0; }

    .hav-ham.is-active:hover {
      opacity: 1.0; }
     
    .nav-ham.is-active .nav-ham-inner,
    .nav-ham.is-active .nav-ham-inner::before,
    .nav-ham.is-active .nav-ham-inner::after {
      background-color: transparent; 
 
  } 

  .nav-ham-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .nav-ham-inner, .nav-ham-inner::before, .nav-ham-inner::after {
      width: 40px;
      height: 4px;
      background-color: orange;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .nav-ham-inner::before, .nav-ham-inner::after {
      content: "";
      display: block; }
    .nav-ham-inner::before {
      top: -10px; }
    .nav-ham-inner::after {
      bottom: -10px; }
  
  /*
     * 3DX
     */
  .nav-ham--3dx #ham-btn {
    perspective: 80px; }
  
  .nav-ham--3dx .nav-ham-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .nav-ham--3dx .nav-ham-inner::before, .nav-ham--3dx .nav-ham-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  
  .nav-ham--3dx.is-active .nav-ham-inner {
    background-color: transparent !important;
    transform: rotateY(180deg); }
    .nav-ham--3dx.is-active .nav-ham-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .nav-ham--3dx.is-active .nav-ham-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
    }


  .my-link:focus, my-link:hover
  {
background-color: #F1693C;
color: black !important;
outline: none;
  }
   .jumbo-head
   {
    color:#F1693C;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    
   }
   .body-head1
   {
     color:#F1693C;
     font-family: 'Dancing Script', cursive;
     text-align: center;
   }

   .body-head2
   {
     color:#F1693C;
     font-family: 'Dancing Script', cursive;
     
   }

.jumbo-align
{
       
  font-size: 16px;
 text-align: center;

}

.button-align
{
  text-align: center;
  
  
}

.my-btn:active
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
}

.my-btn:hover
{
  border-color: #FFCC00;
  background-color:#FFCC00;
  color: #000000;
  
  
}

.column
{
  display: left
  
  
}
.row
{
  
  display: flex;
  justify-content: space-around;

}

.my-card
{
  width:480px;
  margin: 20px;
  padding: 20px;
  /* background-color: #F1693C !important; */
}

p.my-text{

max-height: 50px;
overflow: hidden;
padding: 2px;
margin: 2px;
}

body
  {
    overflow-x: hidden;
  background-color: #F9F8F6;
}

.my-iframe
{
  width:430px;
  height:930px;
  
}

@media only screen and (max-width: 600px)
 {
  body {
    background-color:#FFCC00;

  }
  .my-card
  {
    width:300px;
    /* background-color: #F1693C !important; */
  }

  .my-iframe
{
  transform: scale(.6);
  left: -88px;
  top: -200px;
  position: relative;
}

div.iframe-container 
{
  height: 528px;
}
}


